<ion-tabs class="tabs-icon-top tabs-default {{$root.hideTabs}}">

  <!-- Hospitals Tab -->
  <ion-tab title="Hospitals" icon="icon ion-home" href="#/tab/projects">
    <ion-nav-view name="projects-tab"></ion-nav-view>
  </ion-tab>

  <!-- Products Tab -->
  <ion-tab title="Products" icon="icon ion-ios-book" href="#/tab/products">
    <ion-nav-view name="products-tab"></ion-nav-view>
  </ion-tab>

  <!-- DevTools Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-a" href="#/tab/settings">
  	<ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>